body{
    background-image: url("about img.jpg");
    background-attachment: fixed;
    background-size:100%;
}
nav{
    background-color: black;
    color:white;
    height:50px;
    padding-top:5px;
    position:sticky;
    top:0px;
}
ul li{
    display: inline;
    font-size: x-large;
}
.home{
     padding-left:650px;
     font-size: x-large;     
}
div{
    margin-left:400px;
    border-style: solid;
    border-color: black;
    width:600px;
    height:200px;
}
p{
    margin-left:200px;
    font-size: larger;
}
