body{
    background-image:url("bac des 2.webp");
    background-attachment: fixed;
    background-size:100%;
}
nav{
    background-color: black;
    color:white;
    height:50px;
    padding-top:5px;
    position:sticky;
    top:0px;
}
ul li{
    display: inline;
    font-size: x-large;
}
.home{
     padding-left:650px;
     font-size: x-large;     
}
div{
    margin-left:520px;
    margin-top:80px;
    border-color: black;
    border-style: solid;
    width:350px;
    height:850px;
    padding-left:150px;
    padding-top: 40px;
}
button{
    color:crimson;
}