body{
    background-image: url("book img.jpg");
    background-size:100%;
    background-attachment: fixed;
}
nav{
    background-color:black;
    color:white;
    height:50px;
    padding-top:5px;
    position:sticky;
    top:0px;
}
ul li{
    display: inline;
    font-size: x-large;
}
.home{
     padding-left:650px;
     font-size: x-large;
     
}
div{
    margin-left:670px;
    margin-top:40px;
}