body{
    background-image: url("bac 4.jpg");
    background-size:100%;
}
nav{
    background-color: black;
    color:white;
    height:50px;
    padding-top:5px;
    position:sticky;
}
ul li{
    display: inline;
    font-size: x-large;
}
.home{
     padding-left:650px;
     font-size: x-large;
}
a{
    text-decoration: none;
    color: black;
}