body{
    background-image: url("home img.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}
nav{
    background-color: black;
    color:white;
    height:50px;
    padding-top:5px;
    position:sticky;
}
ul li{
    display: inline;
    font-size: x-large;
}
.home{
     padding-left:650px;
     font-size: x-large;
}
a{
    text-decoration: none;
    color: black;
}
button{
    color:black;
    width:100px;
    height:30px;
}
img{
    width:400px;
    height:300px;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    margin-top:500px;
    margin-bottom:50px;
}
